<%- include('./_partials/header') %>

<div class="container" id="container">
  <div class="jumbotron">
    <h1 class="display-3">List Me Up</h1>
    <p class="lead">Welcome to List Me Up, a minimalist app for getting daily SMS reminders for weather and remembering important tasks.</p>
    <p><a class="btn btn-lg btn-success" href="/auth/google" role="button">Sign in with Google</a></p>
  </div>

  <div class="row marketing">
    <div class="col-lg-6">
      <h1><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></h1>
      <p>Who remembers to check todo lists? Get daily SMS reminders with the data that's most important to you.</p>

      <h1><span class="glyphicon glyphicon-time" aria-hidden="true"></span></h1>
      <p>Decide when you'd like to get notified. Set a custom time to ensure you're notified when you need it most.</p>

    </div>

    <div class="col-lg-6">
      <h1><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span></h1>
      <p>Daily weather forecasts at your location. Never forget your umbrella before leaving the house!</p>

      <h1><span class="glyphicon glyphicon-check" aria-hidden="true"></span></h1>
      <p>Set daily todo list reminders! Jot down your most important tasks and go about your day!</p>

    </div>
  </div>
<%- include('./_partials/footer') %>