body {
  margin: 0 auto;
}

ul, li {
  font-size: 18px;
  color: #8b8378;
}

h4 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.panel-default>.panel-heading {
  background-color: #E6DEDC;
  color: #8b8378;
}

.navbar {
  background-color: #eee9e9;
  padding: 3px;
}

/* Custom page footer */
.footer {
  padding-top: 15px;
  margin-top: 15px;
  color: #777;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #e5e5e5;
}

.container {
  text-align: center;
}
.input-group {
  padding: 10px 0px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

 .table-fixed thead {
  width: 98%;
} 

.table-fixed tbody {
  padding-top: 20px;
  height: 350px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

#map {
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  height: 400px;    
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 7px;
  border: 1px solid #ddd;
  z-index: 1;
}

#btn-send-item {
  margin-left: -7px;
  margin-top: 5px;
}

/* hr {
  margin-left: -40px;
} */

.col-xs-8 {
  padding-top: 22px !important;
}

.col-xs-2 {
  padding-top: 18px !important;
}