body {
  margin: 0 auto;
  font-family: 'Shadows Into Light';
  color: #8b8378;
}

ul, li {
  font-size: 18px;
  color: #8b8378;
}

h4 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.jumbotron {
  background-color: #E6DEDC;
}

.panel-default>.panel-heading {
  background-color: #E6DEDC;
  color: #8b8378;
}

.navbar-default .navbar-brand, .btn  {
  color: #8b8378;
}

.navbar {
  background-color: #eee9e9;
  padding: 3px;
}

.container {
  padding: 50px;
}

.table-fixed thead {
  width: 98%;
}

.table-fixed tbody {
  padding-top: 20px;
  height: 350px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

#map {
  margin: 0 auto;
  background-color: #ffffff;
  width: 50%;
  height: 400px;    
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 7px;
  border: 1px solid #ddd;
  z-index: 1;
}