body {
  margin: 0 auto;
  color: #8b8378;
  /* min-height: 300px; */
}

ul, li {
  font-size: 18px;
  list-style-type: none; 
  color: #8b8378;
}

#help {
  color: red !important;
}

#help:hover {
  color: #eee9e9 !important;
}

.navbar-brand {
  margin-top: 14px;
  font-weight: 600;
  font-size: 26px;
}

.header {
  padding-bottom: 20px;
}

.show-bod {
  margin: -15px; 
}

#dropdown {
  color: white;
}

.dropdown-item {
  margin: 20px !important;
}

h3 {
  padding-bottom: 13px;
}

h4 {
  padding: 15px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-bottom: 30px;
}

a, .username {
  color: #8b8378;  
  text-decoration: none;
  font-size: 20px;
}

.username {
  padding: 3px 20px;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
  color: #bc8f8f !important;
}

.panel-default>.panel-heading {
  background-color: #E6DEDC;
  color: #8b8378;
}

#num-show {
  padding-top: 18px;
  padding-left: 38px;
}

#text-show {
  padding-top: 18px;
  font-size: 20px;
} 

.navbar {
  background-color: #eee9e9;
  padding: 3px;
}

/* Custom page footer */
.footer {
  padding-top: 15px;
  margin-top: 15px;
  color: #777;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #e5e5e5;
}

.container {
  text-align: center;
  /* padding-top: 50px; */
}

#container {
  padding-top: 50px;
}

.input-group {
  padding: 10px 0px;
}

.container-narrow > hr {
  margin: 30px 0;
}

.table-fixed thead {
  width: 98%;
} 

.table-fixed tbody {
  padding-top: 20px;
  height: 350px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}

.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

#map {
  margin: 0 auto;
  background-color: #ffffff;
  width: 100%;
  height: 400px;    
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 7px;
  border: 1px solid #ddd;
  z-index: 1;
}

#btn-send-item {
  margin-left: -7px;
  margin-top: 5px;
}

.col-xs-8 {
  padding-top: 22px !important;
}

.col-xs-2 {
  padding-top: 18px !important;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}