        <div class="fixed-bottom">
          <footer class="footer"><p>© 2017 - Site Built By: Alexandra Kauffman, Andrew Dell, & Bill Hsiao</p></footer>
        </div>
      </div>
  </div>
  </body>
</html>
