  <div class="navbar navbar-fixed-bottom">
    <p class="navbar-text pull-left">© 2017 - Site Built By: Alexandra Kauffman, Andrew Dell, & Bill Hsiao
    </p>
    <a href="https://github.com/list-me-up/ListMeUp" class="navbar-btn btn pull-right" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
  </div>
  </body>
</html>
