<%- include('./../_partials/header') %>

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <br>
      <h4>Your List</h4>
      <hr>
      <p class="col-xs-3">#</p>
      <p class="col-xs-6">Item</p>
      <p class="col-xs-3">Active</p>
      <br>
      <!-- <hr> -->

      <div id="all-list"></div>

      <script type="text/template" id="userTemplate">
        <%% if (list) { %%>
          <%% list.forEach(item => { %%>
            <hr>
            <p class="col-xs-3">1</p>
            <p class="col-xs-6"><%%= item.text %> </p> 
            <p class="col-xs-3">
              <div class="checkbox">
                <label><input type="checkbox" value=""></label>
              </div>
            <form action="/api/users/list/<%%= item._id %>?_method=DELETE" method="POST">
                <button type="submit" data-itemId="<%%= item._id %>" class="btn">X</button>
            </form>
            </p>
          <%% }) %%>
        <%% } %%>
      </script>

    </div>
  </div>
</div>

<div class="container">
  <!-- <form action="/api/users/list" method="POST"> -->
    <div>
      <input type="text" id="item" name="list" class="form-control" placeholder="Add item...">
      <button type="submit" onclick="addToDo()">Add</button> 
    </div>
  <!-- </form> -->
</div>

 <script async defer src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
 <script async defer type="text/javascript" src="./../javascripts/app.js"></script>  

<%- include('./../_partials/footer') %>