<%- include('./../_partials/header') %>

<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <br>
      <h4>Your List</h4>
      <hr>
      <p class="col-xs-3">#</p>
      <p class="col-xs-6">Item</p>
      <p class="col-xs-3">Active</p>
      <hr>

      <script type="text/template" id="userTemplate">
        <% if (user.list) { %>
          <% user.list.forEach(item => { %>
            <hr>
            <p class="col-xs-3">1</p>
            <p class="col-xs-6" id="all-list"><%= item.text %> </p> 
            <p class="col-xs-3">
              <div class="checkbox">
                <label><input type="checkbox" value=""></label>
              </div>
            </p>
          <% }) %>
        <% } %>
      </script>
      
    </div>
  </div>
</div>

<div class="container">
  <!-- <form action="/api/users/list" method="POST"> -->
    <div>
      <input type="text" id="item" name="list" class="form-control" placeholder="Add item...">
      <button type="submit" onclick="addToDo()">Add</button> 
    </div>
  <!-- </form> -->
</div>





  <!-- <div class="container" id="wrap">
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4> Your List: </h4>
          </div>
          <table class="table table-fixed">
            <thead>
              <tr>
                <th class="col-xs-2">#</th><th class="col-xs-8">Task</th><th class="col-xs-2">Active</th>
              </tr>
            </thead>
            <tbody>

              <div id="table">
                <tr>
                  <td class="col-xs-2">1</td><td class="col-xs-8">Check Weather</td>
                  <td class="col-xs-2">
                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                      </div>
                  </td>
                </tr>

                <tr>
                  <td class="col-xs-2">3</td><td class="col-xs-8"><div id="items"></div> </td>
                  <td class="col-xs-2">
                    <div class="checkbox">
                        <label><input type="checkbox" value=""></label>
                      </div>
                  </td>
                </tr>
              </div>
        
              <tr>
                <td class="col-xs-2">3</td>
                <td class="col-xs-8">
                  <textarea id="new-item"></textarea>
      
                </td><td class="col-xs-2">
                  <div class="checkbox">
                    <input type="button" id="btn-send-item" value="Add">
                  </div>
                </td>

              </tr>
              
            </tbody>
          </table>
        </div>
    </div>
  </div> -->
 <script type="text/javascript" src="./../javascripts/app.js"></script>  

<%- include('./../_partials/footer') %>