<%- include('./../_partials/header') %>

    <h1>Welcome User...</h1>
  
    <form>
        <label>Phone Number:</label><input>
        <label>City:</label><input>
        <label>Notification time: </label><input>
        <button>Submit</button>
    </form>

<%- include('./../_partials/footer') %>